[build]
  functions = "netlify/functions"
  publish = "public"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/flask_app/:splat"
  status = 200
  force = true

[build.environment]
  PYTHON_VERSION = "3.10"
